*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(51, 199, 75);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 5em;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 75, 34);
    color: white;
    width: 900px;
    padding: 30px;
    border-radius: 30px;
}

.form_item{
    margin: 10px;
}

input{
    border-radius: 5px;
    border: none;
    line-height: 20px;
    padding: 5px 10px;
}

#matricula{
    width: 250px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
